<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">AniHyo 2025</span>
        <a href="https://github.com/dai11wa/AniHyo" class="text-muted">GitHubリポジトリはこちら</a>
    </div>
</footer>